.App {
  text-align: center;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-content h1{
  font-size: 40px;
  text-transform: uppercase;
}
.App-content .links{
  display: flex;
}
.App-content .links a{
  color: rgb(29, 122, 197);
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 1.28;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  border: 3px solid blue;
  border-radius: 25px;
  font-weight: 700;
  font-size: 30px;
  margin: 20px;
}
